<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict><key>primaryButtonBackgroundColor</key>
<string>#ff0000</string>
<key>logInButtonColor</key>
<string>#ff0000</string>
<key>reloadAmountHeaderColor</key>
<string>#313d4e</string>
<key>statusBarStyle</key>
<string>white</string>
<key>menuSandwichColor</key>
<string>#fefbf3</string>
<key>reloadTextColor</key>
<string>#283897</string>
<key>historyTextColor</key>
<string>#ff0000</string>
<key>offersTextColor</key>
<string>#283897</string>
<key>payTextColor</key>
<string>#ff0000</string>
<key>homeViewTextColor</key>
<string>#283D56</string>
<key>gradientEnd</key>
<string></string>
<key>gradientStart</key>
<string></string>
<key>primaryBackgroundColor</key>
<string>#2a295c</string>
<key>screenBackgroundColor</key>
<string>#d3d0c9</string>
<key>textPlaceholderColor</key>
<string>#aaaaaa</string>
<key>primaryTextColor</key>
<string>#ffffff</string>
<key>primaryBackgroundImageSetName</key>
<string>primaryBackgroundImage</string>
<key>applicationName</key>
<string>sodexo</string>
<key>welcomeText</key>
<string>Welcome to Sodexo</string>
<key>quicksandFont</key>
<string>sodexo.assets/Lato-Regular.ttf</string>
<key>quicksandBoldFont</key>
<string>sodexo.assets/Lato-Bold.ttf</string>
<key>quicksandFontName</key>
<string>Lato-Regular</string>
<key>quicksandBoldFontName</key>
<string>Lato-Bold</string>
<key>highlightColor</key>
<string>#ffffff</string>
<key>offerDescriptionColor</key>
<string>#006893</string>
<key>offersHighlightedTextColor</key>
<string>#243548</string>
<key>infoBoxTextColor</key>
<string>#65676a</string>
<key>infoBoxBackgroundColor</key>
<string>#ffffff</string>
<key>cancelButtonTextColor</key>
<string>#ffffff</string>
<key>cancelButtonBackgroundColor</key>
<string>#8a8a8a</string>
<key>accentTextColor</key>
<string>#283897</string>
<key>bodyTextColor</key>
<string>#65676a</string>
<key>secondaryTextColor</key>
<string>#2a295c</string>
<key>accentTextColor</key>
<string>#283897</string>
<key>bodyTextColor</key>
<string>#65676a</string>
<key>secondaryTextColor</key>
<string>#2a295c</string>
<key>itemBackgroundColor</key>
<string>#ffffff</string>
</dict>
</plist>
